* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  padding: 25px;
}

header h1 {
  font-size: 300%;
}

main {
  display: flex;
  background-color: #333333;
  flex-direction: column;
  min-height: 77vh;
}

.nav-pills {
  display: flex;
  height: 50px;
  justify-content: end;
  align-self: center;
  padding-left: 100px;
}

.nav-item {
  display: flex;
  margin-right: 25px;
  border-radius: 50px;
}

.custom-nav {
  font-size: 36px;
  color: #333333;
  padding: 10px;
  text-decoration: none;
  align-self: center;
}

.active {
  font-weight: bold;
  color: antiquewhite;
  background-color: #333333;
  border-radius: 50px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: aqua;
}

footer img {
  height: 40px;
  width: 35px;
  margin-left: 5px;
}

footer a {
  margin-left: 10px;
}
